<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="flx-item">
			<h1><%= title %></h1>
			<span class="glyphicon glyphicon-eye-open icon-big" aria-hidden="true"></span>
		</div>
	</div>

	<div style="display: none;">
		<input type="hidden" id="myTimeOutParameter" value="<%= timeOutValue %>">
		<video src="" id="myvideo" style="width: 600px; height: 320px;" autoplay="true"></video>
		<canvas id="mycanvas" style="border: 2px solid #efefef"></canvas>
		<ul id="console"></ul>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
